body{
    background-color: #1a134b;
}
#bord{
    float: left;
    position: absolute;
    background-color: #1a134b;
    width: 40%;
    left: 15%;
    height: 75%;
    top: 17%;
}
.bord{
    position: relative;
    width: 11.57%;
    height: 12.1%;
    text-align: left;
    display: inline-block;
    border: 1px solid white;
    border-radius: 0px;
    color: white;
    font-family: monospace;
    font-size: 100%;
}
.Board{
    float: left;
    position: absolute;
}
#time{
    position: absolute;
    float: right;
    right: 18%;
    top: 6%;
    font-size: 125%;
    font-family: monospace;
    color: #5ce1e6;
}
#tekst{
    position: absolute;
    float: right;
    top: 17%;
    right: 18%;
    width: 19%;
    height: 72%;
}
.turn{
    font-family: monospace;
    color: #5ce1e6;
    float: left;
    position: absolute;
    font-size: 500%;
}
.player{
    font-family: monospace;
    color: #ffde59;
    float: left;
    top: 15%;
    position: relative;
    font-size: 200%;
    left: 4%;
}
.die{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.click{
    position: absolute;
    bottom: 55%;
    left: 3%;
    font-family: monospace;
    font-size: 250%;
    color: #5ce1e6;
    background-color: #1a134b;
    border: none;
    cursor: pointer;
}
.pion1{
    float: left;
    left: 20%;
    top: 20%;
    position: absolute;
    visibility: visible;
}
.pion2{
    float: left;
    left: 30%;
    top: 30%;
    position: absolute;
}
.pion3{
    float: left;
    left: 30%;
    top: 30%;
    position: absolute;
}
.pion4{
    float: left;
    left: 30%;
    top: 30%;
    position: absolute;
}
.pion{
    float: left;
    left: 20%;
    top: 20%;
    position: absolute;
    visibility: hidden;
}